<h1>Create Lesson</h1>
<div class="content">
<form method="POST" action="/lessons">
  <label for="name">Lesson Name:</label>
  <input type="text" name="name" id="name"/>
  <label for="first-name">Teacher First Name:</label>
  <input type="text" name="first_name" id="first-name"/>
  <label for="last-name">Teacher Last Name:</label>
  <input type="text" name="last_name" id="last-name"/>
  <label for="phone">Phone:</label>
  <input type="tel" name="phone" id="phone"/>
  <label for="price">Price:</label>
  <input type="number" step="0.01" name="price" id="price"/>
  <label for="max-capacity">Max Capacity:</label>
  <input type="number" required min="1" max="100" name="max_capacity" id="max-capacity" />
  <label for="week-day">Week Day:</label>
  <select name="week_day" id="week-day">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
  </select>
    <label for="active">Lesson Active:</label>
    <select name="active" id="active">
    <option value="TRUE">Lesson is Active</option>
    <option value="FALSE">Lesson is NOT Active</option>
  </select>
  <input type="submit" value="Create"/>
</form>
</div>