<h1>Gym Homepage</h1>
<div class="homepage">
  This application allows you to create customers and lessons then add a specific customer to a specific lesson. It has been styled to work on mobiles and very small tablets.
  <br>
  <br>
  Aside from showing you all your lessons, all your customers and which customers are attending which lesson it will also show you:
  <ul>
    <li>
      The amount of funds the average customer has.
    </li>
    <li>
      What all the customers' funds are combined.
    </li>
    <li>
      All active lessons.
    </li>
    <li>
      All inactive lessons.
    </li>
    <li>
      The most expensive 3 lessons.
    </li>
    <li>
      The cheapest 3 lessons.
    </li>
    <li>
      Lessons that are already at their max capacity.
    </li>
    <li>
      Lessons with customers.
    </li>
    <li>
      Lessons without customers.
    </li>
    <ul>
    </div>
    <div class="code-store">
      All the code is stored in <a href="https://github.com/markpackham/codeclan_week04_big_project" title="code-store" target="_blank">Github</a>
    </div>
