<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Week 4 Project</title>
</head>
<body>
<nav>
<ul>
<li>
<a href="/">Gym Homepage</a>
</li>
<li>
<a href="/lessons">All Lessons</a>
</li>
<li>
<a href="/lessons/new">Create Lesson</a>
</li>
<li>
<a href="/customers">All Customers</a>
</li>
<li>
<a href="/customers/new">Create Customer</a>
</li>
<li>
<a href="/customers-lessons">Customer Asocciated With A Lesson</a>
</li>
<li>
<a href="/customers-lessons/new">Add A Customer To A Lesson</a>
</li>
</ul>
</nav>
    <%= yield %>
    <footer><p>Gym site copyright <%= Time.now.year %></p></footer>
</body>
</html>