:root {
  --primary-color: rgb(173, 168, 168);
  --secondary-color: rgb(140, 187, 140);
  --third-color: rgb(119, 172, 119);
  --background-color: rgb(5, 5, 129);
  --edit-background-color: rgb(4, 41, 19);
  --edit-foreground-color: rgb(252, 252, 252);
  --danger-background-color: rgb(114, 9, 14);
  --danger-foreground-color: rgb(252, 252, 252);
  --footer-background-color: rgb(5, 57, 61);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--background-color);
}

footer {
  margin-left: 46%;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  background-color: var(--footer-background-color);
}
h1 {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--footer-background-color);
}

h2 {
  margin-bottom: 1rem;
}

p {
  margin: 0.5rem 0;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover{
  font-size: 1.1rem;
  color: var(--third-color);
}

ul {
  list-style: none;
}

.homepage ul {
  list-style: circle;
}

li {
  margin: 0.5rem 0;
}

label,
input {
  margin: 0.5rem;
}

.content {
  margin: 1rem;
  border: thick;
}

.edit-btn {
  font-size: 1.2rem;
  color: var(--edit-foreground-color);
  background-color: var(--edit-background-color);
}

.edit-btn:hover {
  font-size: 1.3rem;
}

a.edit-btn {
  margin-left: 0.5rem;
}

form input.delete-btn {
  color: var(--danger-foreground-color);
  background-color: var(--danger-background-color);
  font-size: 1rem;
  cursor: pointer;
}

form input.delete-btn:hover {
  font-size: 1.3rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.container,
.container-block {
  width: 250;
  margin: 2rem;
  text-align: center;
}

.container-block {
  display: inline-block;
}

.homepage, .code-store {
  margin-left: 3rem;
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}
.code-store {
  margin-left: 3rem;
}

.code-store a:hover{
  color: var(--footer-background-color);
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
Small Screens
*/
@media (max-height: 640px) {
  nav {
    text-align: center;
  }

  input {
    width: 80%;
  }

  footer {
    margin: 0;
    position: relative;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .container,
  .container-block {
    width: 100%;
  }

  .homepage,
  .code-store {
    margin: 0;
    padding: 0.5rem;
  }
}
