<h1>Customers Associated With A Lesson</h1>
<div class="content">
  <ul>
    <% for les in @lesson%>
      <p>
        <h3><%= les.name %></h3>
        <% for c_l in @customer_lesson %>
          <% if les.id == c_l.lesson_id %>
            <p>
              <%= c_l.customer.pretty_name %>
            </p>
            <form action="/customers-lessons/<%= c_l.id %>/delete" method="POST">
              <input type="submit" value="delete" />
            </form>
          <% end %>
        <% end %>
      </p>
      <br>
    <% end %>
  </ul>
</div>
