<div class="content">
  <h1>Customer Lesson</h1>
  Name: <%= @customer_lesson.id %>
  <br>
  Customer Id: <%= @customer_lesson.customer_id %>
  <br >
  Lesson Id: <%= @customer_lesson.lesson_id %>
  <br>
  <form method="post" action="/customers-lessons/<%= @customer_lesson.id %>/delete">
    <input type="submit" value="Delete"/>
  </form>
</div>
