<h1>Customer</h1>
Name: <%= @customer.pretty_name() %>
<br>
Phone: <%= @customer.phone %>
<br >
Funds: <%= @customer.funds %>
<form method="post" action="/customers/<%= @customer.id %>/delete">
  <input type="submit" value="Delete"/>
</form>